{% autoescape off %}
To initiate the password reset process for your DREXNET® account with email address: {{ user.get_username }},
click the link below:
{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}
If clicking the link above doesn't work, please copy and paste the URL in a new browser
window instead.

Please ignore this email if you didn't intiate this password reset activity.

Sincerely,

The DREXNET® Team
A solution to all your questions

DREXNET SOCIAL PLATFORM
P.O.BOX 42 Kampala (U)
Tel: +256(0)703777625
     +256(0)772444744
Email: info@drexnet.com
Website: www.drexnet.com
Google Play: Drexnet
Apple appstore: Drexnet
Amazon appstore: Drexnet

For: mobile & desktop
{% endautoescape %}