<section>
<div class="container" style="margin-top: 10%">
    <i class="fas fa-band-aid"></i>
<i class="fas fa-location-arrow"></i>
<i class="fab fa-verified"></i>
<i class="fas fa-map-marker"></i>
<i class="fas fa-door-open"></i>
</div>
</section>
<div class="container">
    <h2>Contextual Badges</h2>
    <span class="badge badge-primary">Primary</span>
    <span class="badge badge-secondary">Secondary</span>
    <span class="badge badge-success">Success</span>
    <span class="badge badge-danger">Danger</span>
    <span class="badge badge-warning">Warning</span>
    <span class="badge badge-info">Info</span>
    <span class="badge badge-light">Light</span>
    <span class="badge badge-dark">Dark</span>
  </div>
  <span class="badge badge-pill badge-default">Default</span>
  <span class="badge badge-pill badge-primary">Primary</span>
  <span class="badge badge-pill badge-success">Success</span>
  <span class="badge badge-pill badge-info">Info</span>
  <span class="badge badge-pill badge-warning">Warning</span>
  <span class="badge badge-pill badge-danger">Danger</span>
  <div class="container">
      <h2>Badge inside a Button</h2>
      <button type="button" class="btn btn-primary">
        Messages <span class="badge badge-light">4</span>
      </button>
      <button type="button" class="btn btn-danger">
        Notifications <span class="badge badge-light">7</span>
      </button>
    </div>
  