<!-- The core Firebase JS SDK is always required and must be listed first -->
<script src="https://www.gstatic.com/firebasejs/7.14.2/firebase-app.js"></script>

<!-- TODO: Add SDKs for Firebase products that you want to use
     https://firebase.google.com/docs/web/setup#available-libraries -->
<script src="https://www.gstatic.com/firebasejs/7.14.2/firebase-analytics.js"></script>

<script>
  // Your web app's Firebase configuration
  var firebaseConfig = {
    apiKey: "AIzaSyD-TwlFKPeIS0mPh_dEbU2dKQnVDfU-PZ0",
    authDomain: "drexnet-5438a.firebaseapp.com",
    databaseURL: "https://drexnet-5438a.firebaseio.com",
    projectId: "drexnet-5438a",
    storageBucket: "drexnet-5438a.appspot.com",
    messagingSenderId: "853102024583",
    appId: "1:853102024583:web:f94c565fe175d83e042522",
    measurementId: "G-JDPZVRMSCL"
  };
  // Initialize Firebase
  firebase.initializeApp(firebaseConfig);
  firebase.analytics();
</script>